In [ ]:
# Run if you are executing this notebook in Colab to ensure tf v2.x.x
!pip install -U tensorflow keras

In [1]:
import datetime
import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from keras import models, layers, datasets
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [ ]:
plt.rc("font", size=14)
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

# A SF Permits Cleaning

### Methode um Y/NaN Spalten zu konvertieren

In [ ]:
def replace_y_with_0_1(df: pd.DataFrame, column: str):
    """
    Ersetzt Y und leere Felder in Spalten die nur Y und leere Felder erhalten durch 1 und 0 
    :param df: Dataframe in dem sich die Spalten befinden
    :param column: Name der Spalte in der die Werte ersetzt werden sollen
    :return: DataFrame mit modifizierten Spalten
    """
    df[column].fillna(0, inplace=True)
    df[column].replace('Y', 1, inplace=True)

### Datenset in ein Dataframe laden laden und Vorschau anzeigen

In [2]:
sanfrancisco_df = pd.read_csv("./Building_Permits.csv")

sanfrancisco_df.head(5)

c:\users\d074009\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

### Fehlende Werte kontrollieren

Um einen Überblick über die Daten zu bekommen, lassen wir uns ausgeben wie hoch der Anteil an fehlenden Werten ist.

In [ ]:
round(sanfrancisco_df.isnull().sum() / len(sanfrancisco_df) * 100, 2)

Und als nächstes schauen wir uns die Werte die in den einzelnen Spalten sind an.  
Format:
- Alle möglichen Werte: zuerst der Werte dann die Anzahl (wenn es zu viele werte gibt wird abgekürzt)
- als letzte Zeile der Name der Spalte und die Menge an einzigartigen Werte

In [20]:
for key in sanfrancisco_df.keys():
    vals = sanfrancisco_df[key].value_counts(dropna=False)
    print(vals)
    print("-----------------------------------------------------------")

201602179765    101
201602179758     66
201602179775     30
201409166451      9
201708165004      9
               ...
M861647           1
201308194693      1
M688867           1
201506108677      1
201711224750      1
Name: Permit Number, Length: 181495, dtype: int64
-----------------------------------------------------------
8    178844
3     14663
4      2892
2       950
6       600
7       511
1       349
5        91
Name: Permit Type, dtype: int64
-----------------------------------------------------------
otc alterations permit                 178844
additions alterations or repairs        14663
sign - erect                             2892
new construction wood frame               950
demolitions                               600
wall or painted sign                      511
new construction                          349
grade or quarry or fill or excavate        91
Name: Permit Type Definition, dtype: int64
-----------------------------------------------------------
09/15/2017    413
11/03/2015    396
02/17/2016    363
09/14/2017    335
06/27/2014    307
             ...
05/24/2016     55
12/26/2014     45
09/11/2012     17
03/28/2012      4
12/26/2012      1
Name: Permit Creation Date, Length: 1291, dtype: int64
-----------------------------------------------------------
3708    1195
3735     750
7331     680
0289     640
3709     584
        ...
5471       1
6071       1
1257       1
6221       1
5595       1
Name: Block, Length: 4896, dtype: int64
-----------------------------------------------------------
001     10114
007      5317
002      5183
003      5042
006      4835
        ...
023J        1
004S        1
468         1
847         1
384         1
Name: Lot, Length: 1055, dtype: int64
-----------------------------------------------------------
1       2394
101     1153
100     1143
50      1103
201     1026
        ...
5068       1
5775       1
5196       1
3279       1
4669       1
Name: Street Number, Length: 5099, dtype: int64
-----------------------------------------------------------
NaN    196684
A        1501
B         291
V         228
C          56
E          28
F          24
G          12
H          11
K          11
D          11
R          10
L          10
J           9
I           7
P           3
N           2
½           1
0           1
Name: Street Number Suffix, dtype: int64
-----------------------------------------------------------
Market         5443
California     4587
Mission        4209
Montgomery     2403
Geary          1966
               ...
Homewood          1
Saint Marys       1
Annie             1
Colonial          1
Salinas           1
Name: Street Name, Length: 1704, dtype: int64
-----------------------------------------------------------
St     138358
Av      43219
Bl       3555
Wy       3540
Dr       3267
NaN      2768
Tr       1466
Ct        667
Pl        538
Rd        389
Ln        354
Hy        240
Pz        210
Pk        128
Cr         97
Al         83
Wk          9
Rw          5
So          2
No          2
Sw          2
Hl          1
Name: Street Suffix, dtype: int64
-----------------------------------------------------------
NaN       169421
0.0        21410
1.0         1312
2.0          549
3.0          448
           ...
69.0           1
1124.0         1
5106.0         1
908.0          1
2534.0         1
Name: Unit, Length: 661, dtype: int64
-----------------------------------------------------------
NaN          196939
A               346
C               226
B               191
D               135
              ...
BASEMENT          1
C-4               1
PIER 3            1
3RD FLOOR         1
PH C              1
Name: Unit Suffix, Length: 165, dtype: int64
-----------------------------------------------------------
street space                                                                                                                              22163
reroofing                                                                                                                                  9465
street space permit                                                                                                                        7549
re-roofing                                                                                                                                 2351
streetspace                                                                                                                                 819
                                                                                                                                          ...
remove & replace four (4) windows in-kind. not seen from street. 0 factor 0.4 max.                                                            1
tenant improvement: relocate twenty five sprinkler heads                                                                                      1
remodel total   3 (e) bathrooms - one on 3rd floor, one on 2nd floor and one on ground floor.  paint outside, replace water heater            1
revision to 201607071733 addmeda #3 fire alarm add mobile generator for 6 weeks period until permanent power isn established. maher na        1
2/f bathroom remodel  ; to comply with cec150.0(k)5                                                                                           1
Name: Description, Length: 134273, dtype: int64
-----------------------------------------------------------
complete       97077
issued         83559
filed          12043
withdrawn       1754
cancelled       1536
expired         1370
approved         733
reinstated       563
suspend          193
revoked           50
plancheck         16
appeal             2
disapproved        2
incomplete         2
Name: Current Status, dtype: int64
-----------------------------------------------------------
09/15/2017    474
09/14/2017    404
06/15/2016    370
02/22/2018    364
02/23/2018    363
             ...
07/15/2017      1
03/27/2016      1
03/02/2019      1
11/02/2014      1
12/25/2014      1
Name: Current Status Date, Length: 1307, dtype: int64
-----------------------------------------------------------
09/15/2017    412
11/03/2015    366
02/17/2016    364
09/14/2017    332
06/27/2014    305
             ...
12/24/2014     68
12/24/2015     65
07/03/2015     60
05/24/2016     56
12/26/2014     45
Name: Filed Date, Length: 1288, dtype: int64
-----------------------------------------------------------
NaN           14940
06/15/2016      341
07/26/2016      274
12/18/2015      272
12/10/2015      234
              ...
12/24/2014       64
05/24/2016       63
12/26/2014       55
12/31/2015       54
12/12/2015        2
Name: Issued Date, Length: 1290, dtype: int64
-----------------------------------------------------------
NaN           101709
10/30/2015       206
01/02/2014       169
12/20/2017       162
11/26/2013       161
               ...
03/23/2013         3
01/04/2013         2
11/02/2014         1
01/07/2013         1
12/25/2014         1
Name: Completed Date, Length: 1301, dtype: int64
-----------------------------------------------------------
NaN           14946
11/07/2016      339
11/01/2016      254
12/10/2015      236
11/07/2017      235
              ...
07/03/2015       65
12/24/2014       62
12/31/2015       56
12/26/2014       53
05/24/2016       42
Name: First Construction Document Date, Length: 1289, dtype: int64
-----------------------------------------------------------
NaN    191978
Y        6922
Name: Structural Notification, dtype: int64
-----------------------------------------------------------
2.0     52767
3.0     45740
NaN     42784
4.0     16055
1.0      8793
        ...
49.0        3
62.0        2
2.5         2
78.0        1
1.5         1
Name: Number of Existing Stories, Length: 65, dtype: int64
-----------------------------------------------------------
2.0     50991
3.0     46802
NaN     42868
4.0     17593
1.0      7893
        ...
49.0        3
47.0        3
2.5         2
78.0        1
1.5         1
Name: Number of Proposed Stories, Length: 65, dtype: int64
-----------------------------------------------------------
NaN    198865
Y          35
Name: Voluntary Soft-Story Retrofit, dtype: int64
-----------------------------------------------------------
NaN    180073
Y       18827
Name: Fire Only Permit, dtype: int64
-----------------------------------------------------------
NaN           51880
02/28/2018      302
02/24/2018      239
05/31/2018      234
05/04/2018      228
              ...
07/20/2020        1
11/05/2014        1
09/29/2015        1
07/28/2015        1
07/24/2021        1
Name: Permit Expiration Date, Length: 2233, dtype: int64
-----------------------------------------------------------
NaN         38066
1.0         17014
10000.0      6695
5000.0       6437
20000.0      5702
            ...
76600.0         1
20119.0         1
40240.0         1
737000.0        1
56898.0         1
Name: Estimated Cost, Length: 11396, dtype: int64
-----------------------------------------------------------
1.0         47228
0.0          8513
NaN          6066
10000.0      5474
5000.0       5453
            ...
41666.0         1
920.0           1
7256.0          1
169600.0        1
17955.0         1
Name: Revised Cost, Length: 12630, dtype: int64
-----------------------------------------------------------
1 family dwelling       46766
NaN                     41114
apartments              40798
office                  24616
2 family dwelling       20987
                        ...
bath house                  2
child care                  1
orphanage                   1
dairies/dairy equip.        1
roofing materials           1
Name: Existing Use, Length: 94, dtype: int64
-----------------------------------------------------------
NaN      51538
1.0      47346
0.0      29134
2.0      21804
3.0       8616
         ...
211.0        1
396.0        1
193.0        1
289.0        1
540.0        1
Name: Existing Units, Length: 349, dtype: int64
-----------------------------------------------------------
1 family dwelling       46346
apartments              43032
NaN                     42439
office                  23962
2 family dwelling       22061
                        ...
meat/produce marts          2
roofing materials           1
dairies/dairy equip.        1
orphanage                   1
not applicable              1
Name: Proposed Use, Length: 95, dtype: int64
-----------------------------------------------------------
NaN       50911
1.0       46913
0.0       26884
2.0       22891
3.0        9347
          ...
1911.0        1
280.0         1
159.0         1
319.0         1
305.0         1
Name: Proposed Units, Length: 369, dtype: int64
-----------------------------------------------------------
2.0       98088
0.0       63244
NaN       37309
3.0         250
4.0           3
1.0           2
6.0           2
20.0          1
9000.0        1
Name: Plansets, dtype: int64
-----------------------------------------------------------
NaN    198898
P           1
Y           1
Name: TIDF Compliance, dtype: int64
-----------------------------------------------------------
5.0    113350
NaN     43366
1.0     28072
3.0      9663
2.0      4068
4.0       381
Name: Existing Construction Type, dtype: int64
-----------------------------------------------------------
wood frame (5)    113350
NaN                43366
constr type 1      28072
constr type 3       9663
constr type 2       4068
constr type 4        381
Name: Existing Construction Type Description, dtype: int64
-----------------------------------------------------------
5.0    114382
NaN     43162
1.0     27841
3.0      9360
2.0      3778
4.0       377
Name: Proposed Construction Type, dtype: int64
-----------------------------------------------------------
wood frame (5)    114382
NaN                43162
constr type 1      27841
constr type 3       9360
constr type 2       3778
constr type 4        377
Name: Proposed Construction Type Description, dtype: int64
-----------------------------------------------------------
NaN    193541
Y        5359
Name: Site Permit, dtype: int64
-----------------------------------------------------------
3.0     28649
8.0     26760
2.0     25483
6.0     24797
5.0     19045
9.0     16362
7.0     14365
1.0     13038
10.0    12152
4.0      9592
11.0     6940
NaN      1717
Name: Supervisor District, dtype: int64
-----------------------------------------------------------
Financial District/South Beach    21816
Mission                           14681
Sunset/Parkside                   10207
West of Twin Peaks                 8739
Castro/Upper Market                8527
Pacific Heights                    8508
Marina                             8244
Outer Richmond                     7854
Noe Valley                         7844
South of Market                    7572
Bernal Heights                     6067
Nob Hill                           6009
Haight Ashbury                     5798
Inner Sunset                       5776
Bayview Hunters Point              5669
Russian Hill                       5495
Hayes Valley                       5489
Tenderloin                         4783
Inner Richmond                     4458
Potrero Hill                       4293
Presidio Heights                   4084
North Beach                        4054
Western Addition                   3867
Chinatown                          3765
Lone Mountain/USF                  3358
Excelsior                          3072
Oceanview/Merced/Ingleside         2654
Glen Park                          2637
Mission Bay                        2287
Outer Mission                      2242
NaN                                1725
Twin Peaks                         1702
Portola                            1433
Lakeshore                          1308
Seacliff                            992
Visitacion Valley                   900
Japantown                           700
Treasure Island                      81
Golden Gate Park                     64
Presidio                             51
Lincoln Park                         49
McLaren Park                         46
Name: Neighborhoods - Analysis Boundaries, dtype: int64
-----------------------------------------------------------
94110.0    17837
94114.0    13404
94117.0    11780
94109.0    11348
94103.0    10986
94115.0    10095
94118.0     9812
94123.0     9515
94122.0     8886
94105.0     8628
94112.0     7897
94121.0     7773
94107.0     7706
94131.0     7664
94133.0     7424
94102.0     7164
94116.0     6421
94111.0     5385
94108.0     5320
94124.0     5265
94127.0     4993
94104.0     4229
94132.0     3507
94134.0     2983
NaN         1716
94158.0     1058
94130.0       81
94129.0       23
Name: Zipcode, dtype: int64
-----------------------------------------------------------
NaN                                          1700
(37.79226164705184, -122.4034859571375)       554
(37.79294896659241, -122.39809861435491)      330
(37.728556952954136, -122.47676641508518)     281
(37.77523036414975, -122.4174703200545)       276
                                             ...
(37.74552206474493, -122.47404856827583)        1
(37.73868967785484, -122.44678909781275)        1
(37.78412451444347, -122.415684123559)          1
(37.73340807970929, -122.42722102976843)        1
(37.794197180581854, -122.41926279234312)       1
Name: Location, Length: 57605, dtype: int64
-----------------------------------------------------------
1467180210005    1
1464109435631    1
1384509283785    1
1357940168184    1
1346989104633    1
                ..
1497191205836    1
1385125161920    1
1335723389947    1
1476677143540    1
1323096395930    1
Name: Record ID, Length: 198900, dtype: int64
-----------------------------------------------------------

Wie man in unserer Ausgabe oben sehen kann, gibt es einige Spalten in denen nur `Y/NaN` Werte vorhanden sind. `Y` steht
dabei für true und `NaN` Feld für false. Um das für unsere Vorhersage besser verwenden zu können ersetzen wir das
`Y` durch eine `1` und füllen die leeren Zellen mit `0` auf.  

- Structural Notification
- Voluntary Soft-Story Retrofit
- Fire Only Permit
- Site Permit

Die Spalte `TIDF Compliance` ist vermutlich auch eine solche Spalte, hat aber insgesamt nur zwei einzelne Werte und ist
somit uninteressant für uns und wird entfernt.

In [ ]:
replace_y_with_0_1(sanfrancisco_df, "Structural Notification")
replace_y_with_0_1(sanfrancisco_df, "Voluntary Soft-Story Retrofit")
replace_y_with_0_1(sanfrancisco_df, "Fire Only Permit")
replace_y_with_0_1(sanfrancisco_df, "Site Permit")

sanfrancisco_df.drop("TIDF Compliance", axis='columns', inplace=True)

Da wir mit dem `Supervisor District` bereits eine geografische Einteilung in Regionen haben, entfernen wir alle
Adressdaten und die Koordinaten, da wir die für unsere Vorhersage in Textform nicht gebrauchen können und
One-Hot-Encoding keinen Sinn macht:
- Block
- Lot
- Street Number
- Street Number Suffix
- Street Name
- Street Suffix
- Unit
- Unit Suffix
- Neighborhoods - Analysis Boundaries
- Zipcode
- Location

Außerdem entfernen wir Felder die Freitext enthalten:
- Description
- Existing Use
- Proposed Use

In [ ]:
sanfrancisco_df.drop("Block", axis=1, inplace=True)
sanfrancisco_df.drop("Lot", axis=1, inplace=True)
sanfrancisco_df.drop("Street Number", axis=1, inplace=True)
sanfrancisco_df.drop("Street Number Suffix", axis=1, inplace=True)
sanfrancisco_df.drop("Street Name", axis=1, inplace=True)
sanfrancisco_df.drop("Street Suffix", axis=1, inplace=True)
sanfrancisco_df.drop("Unit", axis=1, inplace=True)
sanfrancisco_df.drop("Unit Suffix", axis=1, inplace=True)
sanfrancisco_df.drop("Neighborhoods - Analysis Boundaries", axis=1, inplace=True)
sanfrancisco_df.drop("Zipcode", axis=1, inplace=True)
sanfrancisco_df.drop("Location", axis=1, inplace=True)

sanfrancisco_df.drop("Description", axis=1, inplace=True)
sanfrancisco_df.drop("Existing Use", axis=1, inplace=True)
sanfrancisco_df.drop("Proposed Use", axis=1, inplace=True)

Und alle Zeilen die keinen `Supervisor District` haben werden entfernt da wir die Zeilen nicht manuell den Distrikten
zuordnen können.

In [ ]:
sanfrancisco_df = sanfrancisco_df[sanfrancisco_df["Supervisor District"].notna()]

Bei den folgenden Spalten ersetzen wir leere Felder durch `0` da wir uns nur die Differenz zwischen vorher/nachher
anschauen wollen und das somit keinen Einfluss hat.
- Number of Existing Stories
- Number of Proposed Stories
- Existing Units
- Proposed Units

In [ ]:
sanfrancisco_df["Number of Existing Stories"].fillna(0, inplace=True)
sanfrancisco_df["Number of Proposed Stories"].fillna(0, inplace=True)
sanfrancisco_df["Existing Units"].fillna(0, inplace=True)
sanfrancisco_df["Proposed Units"].fillna(0, inplace=True)

Die folgenden Spalten sind redundant zu ihren `XYZ Description` Spalten und werden somit nicht weiter benötigt.
- Existing Construction Type
- Proposed Construction Type

Zusätzlich werden die leeren Felder der anderen Spalten mit `no constr type 0`gefüllt, weil wir keine sinnvolle Annahme
über den tatsächlichen Wert machen können und so die aufgefüllten Spalten erkennen können.

In [ ]:
sanfrancisco_df.drop("Existing Construction Type", axis=1, inplace=True)
sanfrancisco_df.drop("Proposed Construction Type", axis=1, inplace=True)
sanfrancisco_df["Existing Construction Type Description"].fillna("no constr type 0", inplace=True)
sanfrancisco_df["Proposed Construction Type Description"].fillna("no constr type 0", inplace=True)

In [ ]:
sanfrancisco_df.isnull().sum()

In den folgenden Spalten füllen wir die leeren Felder mit dem Median der Spalte:
- Estimated Cost
- Revised Cost
- Plansets

In [ ]:
def replace_with_median(df: pd.DataFrame, column: str):
    median = df[column].median(skipna=True)
    df[column].fillna(median, inplace=True)

In [ ]:
replace_with_median(sanfrancisco_df, "Estimated Cost")
replace_with_median(sanfrancisco_df, "Revised Cost")
replace_with_median(sanfrancisco_df, "Plansets")

In [ ]:
sanfrancisco_df.isnull().sum()

Die restlichen Spalten mit fehlenden Spalten sind Spalten mit Daten. Einige sind nicht ausgefüllt weil sie erst in der
Zukunft gefüllt werden können, wir füllen sie mit `00/00/0000` um später entsprechend die Werte auswählen zu können.

In [ ]:
sanfrancisco_df["Issued Date"].fillna("00/00/0000", inplace=True)
sanfrancisco_df["Completed Date"].fillna("00/00/0000", inplace=True)
sanfrancisco_df["First Construction Document Date"].fillna("00/00/0000", inplace=True)
sanfrancisco_df["Permit Expiration Date"].fillna("00/00/0000", inplace=True)

In [ ]:
sanfrancisco_df.isnull().sum()

# B SF Permits Exploration

### Lineare abhängikeiten suchen 
Um eine Idee davon zu bekommen wie stark die einzelnen Spalten von einander abhängen berrechnen wir eine
Korrelationsmatrix. Je näher die Werte an 1/-1 liegen desto stärker ist die Abhängigkeit.

In [ ]:
correlation_matrix = sanfrancisco_df.corr().round(2)
sns.set(rc={'figure.figsize':(12, 9)})
sns.heatmap(data=correlation_matrix, annot=True)

# C SF Permits Prediction

### Methode für One-Hot-Encoding

In [ ]:
def one_hot_encode(df: pd.DataFrame, col: str) -> pd.DataFrame:
    """
    Erzeugt Dummy-Spalten für jeden Wert in der Quell-Spalte.
    
    Beispiel:
    Wenn eine Tabelle die Spalte 'Klasse' mit 0, 1, 2 als Werte hat, werden die Spalte Klasse 0, Klasse 1 und Klasse 2
    erstellt und die Zeilen der Tabelle an den entsprechenden Stellen auf 0 bzw. 1 gesetzt. 
    :param df: Dataframe in dem die zu ersetzende Spalte ist
    :param col: Spalte die One-Hot-Encoded werden soll
    :return: modifizierter DataFrame
    """
    return df.assign(**{str(col + " " + str(val)): [1 if str(val) in str(cell) else 0 for cell in df[col]] 
                                   for val in df[col].unique()})

def days_between_dates(d1: str, d2: str) -> int:
    """
    Akzeptiert zwei Daten in der Form DD/MM/YYYY und berechnet die Tage zwischen den beiden Daten.
    :param d1: Erstes Datum
    :param d2: Zweites Datum
    :return: Anzahl der Tage zwischen den beiden Daten
    """
    d1 = d1.split("/")
    d2 = d2.split("/")
    if len(d1) != 3 or len(d2) != 3:
        raise ValueError("Date must consist of three numbers divided by '/'")
    d1 = datetime.date(int(d1[2]), int(d1[1]), int(d1[0]))
    d2 = datetime.date(int(d2[2]), int(d2[1]), int(d2[0]))
    return (d2 - d1).days

# D SF Challenges

# E Neural Networks XOR

![XOR Graph](https://github.com/maxmoehl/ATIT2_assignments/blob/master/Assignment_2/XOR.png?raw=1)

w: weight  
b: bias  
t: threshold

Mathematische Funktion:
```
SIGMOID(x) = 1 / (1 + e^(-x))
AND(x, y) = SIGMOID(50x + 50y - 75)
OR(x, y) = SIGMOID(50x + 50y - 25)
NOT(x) = SIGMOID(-50x + 10)

XOR(x, y) = AND(NOT(AND(x, y)), OR(x, y))

XOR(x,y) = SIGMOID(SIGMOID(SIGMOID(50x + 50y - 75) * (-50) + 10) * 50 + SIGMOID(50x + 50y - 25) * 50 - 75)
           \       \       \---------AND---------/             /        \                     /          /
            \       \-------------------NOT-------------------/          \--------OR---------/          /
             \-------------------------------------------AND-------------------------------------------/
```

### Funktionen in Python abbilden und testen

In [ ]:
def SIGMOID(x):
    return 1 / (1 + (math.e ** (-x)))

def AND(x, y):
    return SIGMOID(x * 50 + y * 50 - 75)

def OR(x, y):
    return SIGMOID(x * 50 + y * 50 - 25)
    
def NOT(x):
    return SIGMOID(x * (-50) + 10)

def XOR(x, y):
    return AND(NOT(AND(x, y)),OR(x, y))

print(round(XOR(0, 0), 2))
print(round(XOR(0, 1), 2))
print(round(XOR(1, 0), 2))
print(round(XOR(1, 1), 2))

# F Neural Networks Overfitting

## Daten laden und splitten

Das größte Problem wenn man ein Modell hat das overfitted ist das man zu wenige Daten zum trainieren hat, um das hier zu simulieren verwenden wir nicht die 50.000 Datensätze zum trainieren sondern nur die 10.000.

In [ ]:
(X_test, Y_test), (X_train, Y_train) = datasets.cifar10.load_data()

X_train, X_test = X_train / 255.0, X_test / 255.0

num_classes = 10

## Modell erstellen

Damit das Modell overfitted nehmen wir nur zwei Convolutional und ein MaxPooling Layer und zum auswerten auch nur ein Dense Layer.

In [ ]:
model = models.Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(32, 32, 3)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))

model.add(layers.Flatten())
model.add(layers.Dense(10, activation='softmax'))

model.summary()

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

## Modell trainieren

Zusätzlich trainieren wir das Modell in 20 Epochen, das Modell wird sich also viel zu sehr an die 10.000 Datensätze die wir verwenden anpassen.

In [ ]:
history = model.fit(X_train, Y_train, batch_size=100, epochs=20, validation_data=(X_test, Y_test))

## Methode zum visualisieren der Ergebnisse

In [ ]:
def plot_results(history, epoch_lim=20):
  plt.plot(history.history['loss'], label='train')
  plt.plot(history.history['val_loss'], label='test')
  plt.xlabel('Epoch')
  plt.ylabel('Loss')
  plt.ylim([0, 2.5])
  plt.xlim([0, epoch_lim])
  plt.legend(loc='upper left')

## Ergebnisse visualisieren

In [ ]:
print("Train accuracy: {}%".format(round(history.history['accuracy'][-1] * 100, 2)))
print("Test accuracy: {}%".format(round(history.history['val_accuracy'][-1] * 100, 2)))
plot_results(history)

Wie man anhand des Graphen sehr gut sehen kann, steigt der Loss der Testdaten nach ca. 12 Epochen wieder an: das Modell overfitted. Das kann man auch an der Accuracy sehen, für die Trainingsdaten liegt die bei über 90% währrend die Testdaten nur um die 55% haben.

# G Neural Networks Overfitting

## Daten laden und splitten

Um jetzt in diesem Modell das Overfitting zu verhindern verwenden wir die 50.000 Datensätze zum lernen.

In [ ]:
(X_train, Y_train), (X_test, Y_test) = datasets.cifar10.load_data()

X_train, X_test = X_train / 255.0, X_test / 255.0

## Modell erstellen

Damit das Modell die Muster in den Bildern besser erkennen kann fügen wir im Vergleich zu dem ersten Modell eine weitere Conv/MaxPooling Kombi und ein weiteres Dense Layer hinzu.

In [ ]:
model = models.Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(32, 32, 3)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))

model.add(layers.Flatten())
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(10, activation='softmax'))

model.summary()

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

## Modell trainieren

Um Overfitting zu verhindern verringern wir die Anzahl an Epochen.

In [ ]:
early_stopping = EarlyStopping(monitor='val_loss', min_delta=0, patience=2, verbose=0, mode='auto')
history = model.fit(X_train, Y_train, batch_size=10, epochs=15, validation_data=(X_test, Y_test), callbacks=[early_stopping])

## Ergebnisse visualisieren

In [ ]:
print("Train accuracy: {}%".format(round(history.history['accuracy'][-1] * 100, 2)))
print("Test accuracy: {}%".format(round(history.history['val_accuracy'][-1] * 100, 2)))
plot_results(history, epoch_lim=15)

Wie man an dem Graphen sehen kann sinkt der Loss sowohl für die Trainingsdaten als auch für die Testdaten kontinuierlich. Das Modell generalisiert wesentlich besser anstatt einfach nur die Bilder aus dem Trainingsset auswendig zu lernen. Der Early-Stop Callback verhindert, dass das Modell durch zu viele Trainingsepochen overfitted.  
Die Accuracy von Train und Test liegen auch sehr nah beieinander.

# H Feedback
### Wieviel Zeit habt ihr mit dem Assignment verbracht?
Max: 15h
### Wie oft habt ihr euch getroffen?
3
### Welche Aufgabe hat euch am besten gefallen?
### Welche Aufgabe hat euch am wenigsten gefallen?